@font-face {
  font-family: Stem-Thin;
  src: url(../fonts/Stem-Thin.otf);
}
@font-face {
  font-family: Stem-Light;
  src: url(../fonts/Stem-Light.otf);
}
@font-face {
  font-family: Stem-LightItalic;
  src: url(../fonts/Stem-LightItalic.otf);
}
@font-face {
  font-family: Stem-ExtraLight;
  src: url(../fonts/Stem-ExtraLight.otf);
}
@font-face {
  font-family: Stem-ExtraLightItalic;
  src: url(../fonts/Stem-ExtraLightItalic.otf);
}
@font-face {
  font-family: Stem-Regular;
  src: url(../fonts/Stem-Regular.otf);
}
@font-face {
  font-family: Stem-Medium;
  src: url(../fonts/Stem-Medium.otf);
}
@font-face {
  font-family: Stem-MediumItalic;
  src: url(../fonts/Stem-MediumItalic.otf);
}
@font-face {
  font-family: Stem-Italic;
  src: url(../fonts/Stem-Italic.otf);
}
@font-face {
  font-family: Stem-Hairline;
  src: url(../fonts/Stem-Hairline.otf);
}
@font-face {
  font-family: Stem-Bold;
  src: url(../fonts/Stem-Bold.otf);
}
@font-face {
  font-family: Stem-BoldItalic;
  src: url(../fonts/Stem-BoldItalic.otf);
}
