@import "./normalize";

@font-face {
  font-family: StemExtraLight;
  src: url(../fonts/Stem-ExtraLight.otf);
}
@font-face {
  font-family: StemLight;
  src: url(../fonts/Stem-Light.otf);
}
@font-face {
  font-family: StemRegular;
  src: url(../fonts/Stem-Regular.otf);
}
@font-face {
  font-family: StemMedium;
  src: url(../fonts/Stem-Medium.otf);
}
@font-face {
  font-family: StemBold;
  src: url(../fonts/Stem-Bold.otf);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: StemLight;
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

// burger menu button

#nav-icon3 {
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #383838;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 9px;
}

#nav-icon3 span:nth-child(4) {
  top: 18px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

// burger menu button

.button {
  font-family: StemMedium;
  width: 200px;
  padding: 0 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #383838;
  text-transform: uppercase;
  color: #383838;
  background-color: #fff;
  transition: all 0.1s ease;

  &:hover {
    background-color: #383838;
    color: #fff;
  }
}

.container-wide {
  max-width: 1800px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.container {
  max-width: 1180px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  padding: 1.3rem 0 0.35rem;

  .container-wide {
    position: relative;
    justify-content: space-between !important;
  }
}

.header__content {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__logo-holder {
  border-right: 1px solid rgba(#425559, 0.3);
  padding-right: 2.5rem;
  margin-right: 2.5rem;
}

.header__logo {
  width: 270px;
  height: 35px;
}

nav {
  justify-content: flex-end;

  ul {
    display: flex;
  }

  li {
    margin-right: 20px;
  }

  a {
    line-height: 24px;
    color: #2b2b2b;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding: 0 5px;

    &.active {
      color: #000000;
      font-family: StemBold;
    }
  }
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__phone-number {
  font-family: StemMedium;
  font-size: 1.25rem;
  color: #383838;
  font-weight: bold;
}

.header__contact {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #2b2b2b;
  margin: 0 30px;
}

.header__socials {
  border-left: 1px solid rgba(#425559, 0.3);
  padding-left: 30px;
  height: 40px;
  display: flex;
  align-items: center;
}

.header__socials-link {
  color: #000000;
  font-size: 1.8rem;

  &.linked-in {
    margin-right: 20px;
  }
}

footer {
  padding: 10px 0 30px;

  nav {
    li {
      margin-right: 15px;
    }

    a {
      font-size: 0.85rem;
    }
  }
}

.footer__container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  align-items: center;
  width: 100%;
}

footer nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo-holder {
  border-right: 1px solid rgba(#425559, 0.3);
  padding-right: 25px;
  margin-right: 35px;
}

.footer__logo {
  width: 260px;
  height: 35px;
}

.footer__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__contact {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #2b2b2b;
  margin: 0 30px;
}

.footer__socials {
  border-left: 1px solid rgba(#425559, 0.3);
  padding-left: 20px;
  height: 35px;
  display: flex;
  align-items: center;
}

.footer__socials-link {
  color: #000000;
  font-size: 1.5rem;

  &.linked-in {
    margin-right: 15px;
  }
}

.footer__bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .copyright {
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #a0a0a0;
  }

  .design {
    font-size: 11px;
    color: #a0a0a0;
    opacity: 0.4;
  }
}

// QUESTIONS
.questions {
  padding: 6rem 0;

  .carousel {
    display: flex;
    min-height: 200px;
  }

  .carousel-inner {
    max-width: 1100px;
  }

  .carousel-indicators {
    position: static;
    margin: 0;

    &.indicators--left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 200px;
      padding-top: 30px;

      li {
        background-color: transparent;
        text-indent: 0;
        margin: 0;
        width: auto;
        height: auto;
        background-clip: unset;
        border: none;
        cursor: unset;
        display: flex;
        align-items: center;
        opacity: 1;
        margin-bottom: 20px;

        .indicator__number {
          font-size: 0.8rem;
          color: #425559;
          letter-spacing: 0.5px;
          width: 30px;
        }

        .indicator__text {
          font-family: StemBold;
          text-transform: uppercase;
          font-size: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 77px;
          height: 34px;
          background-color: #eaeaea;
          color: #2b2b2b;
          cursor: pointer;
          transition: all 0.5s ease;
          user-select: none;
        }

        &.active {
          .indicator__text {
            background-color: #383838;
            color: #ffffff;
          }
        }
      }
    }

    &.indicators--bottom {
      background-color: lightgrey;
      position: absolute;
      bottom: 0;
    }
  }
}

.questions__container {
  max-width: 1500px;
}

.questions__title {
  font-family: StemBold;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 3.3px;
  color: #383838;
  margin-bottom: 15px;
}

.questions__text {
  font-size: 1.1rem;
  padding: 0 5px;
  text-align: center;
  letter-spacing: 0.7px;
  line-height: 1.5rem;
}

// ABOUT
.about {
  position: relative;
  padding-bottom: 3rem;
}

.about__building-img {
  max-width: 1100px;
  width: 100%;
  max-height: 700px;
  object-fit: contain;
}

.about__text--bg-dark {
  color: #ffffff;
  max-width: 900px;
  width: 100%;
  padding: 4rem;
  padding-bottom: 3.8rem;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 50px;
  background: url(../assets/squares-bg.svg) no-repeat top right;
  background-color: #555555;

  p {
    font-family: StemLight;
    font-size: 1.1rem;
    line-height: 1.6rem;
    letter-spacing: 0.7px;
    max-width: 700px;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about__text-title {
  font-family: StemMedium;
  font-size: 1.5rem;
  letter-spacing: 0.16rem;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}

.about__text--bg-dark-squares {
  position: absolute;
  right: -100px;
  bottom: 210px;
  width: 80%;
}

.about__investment {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.about__investment--content {
  max-width: 1300px;
  width: 100%;
  min-height: 600px;
  background-image: linear-gradient(45deg, transparent 90px, #ffffff 90px);
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.15));
  padding: 3.5rem 5rem 5rem;
  position: relative;
  top: -180px;

  p {
    font-family: StemLight;
    font-size: 1.1rem;
    line-height: 1.8rem;
    letter-spacing: 0.7px;
    color: #425559;
    margin-bottom: 1.2rem;

    strong {
      font-family: StemMedium;
    }
  }
}

.investment-content__text-ellipse {
  display: flex;
  align-items: flex-start;

  img {
    margin-right: 15px;
    margin-top: 4px;
  }

  &:last-child p {
    margin-bottom: 0;
  }
}

.about__investment--circle-img {
  max-width: 270px;
  width: 100%;
  height: 270px;
  object-fit: contain;
  margin-bottom: 200px;
  margin-right: 70px;
  margin-left: 20px;
}

// PROJECTS
.tabs-box__tabs-holder {
  // border-bottom: 8px solid #f2f2f2;

  .container-wide {
    display: flex;
    justify-content: flex-end;
  }
}

.projects__experience {
  padding: 1.2rem;
  padding-right: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__experience-box--left {
  margin-right: 40px;
}

.projects__experience-number {
  font-family: StemBold;
  font-size: 3rem;
  letter-spacing: 3px;
  color: #383838;
}

.projects__experience-text {
  font-family: StemLight;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #949494;
}

ul.tabs-box__tabs {
  display: flex;
  // flex: 1;
}

li.tabs__tab {
  max-width: 250px;
  width: 100%;
  height: 250px;
  border-left: 1px solid #f2f2f2;
  border-top: 8px solid #f2f2f2;
  padding: 1.8rem 2.4rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;

  &:last-child {
    border-right: 1px solid #f2f2f2;
  }

  &:hover {
    border-top-color: rgba(#2b2b2b, 0.2);
  }

  span.tab-arrow {
    background-image: url("../assets/tab-arrow-right.svg");
    width: 12px;
    height: 12px;
    transition: all 0.1s ease;
    position: absolute;
    bottom: 25px;
  }

  &.active {
    border-top-color: #2b2b2b;

    span.tab-arrow {
      background-image: url("../assets/tab-arrow-down.svg");
    }
  }
}

.tab-logo-holder {
  height: 60px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.tab-logo {
  height: 100%;
}

.tab-title {
  font-family: StemMedium;
  font-size: 1.1rem;
  color: #2b2b2b;
  margin-bottom: 1rem;
}

.tabs-box__content {
  position: relative;
}

.tabs-box__content--image {
  max-height: 750px;
  object-fit: contain;
  position: relative;
}

.tab__content {
  max-width: 1350px;
  width: 100%;
  height: 650px;
  background-image: linear-gradient(45deg, transparent 90px, #ffffff 90px);
  padding: 3rem 5rem 5rem 7rem;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 8px solid #f2f2f2;
  z-index: 999;
}

.tab__content--logo {
  margin-bottom: 2rem;
}

.tab__content--title {
  font-family: StemBold;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 1.9px;
  color: #383838;
  margin-bottom: 30px;
  text-transform: uppercase;
  max-width: 650px;
}

.tab__content--text-holder {
  overflow-y: scroll;
  height: 380px;
  margin-bottom: 40px;

  .tab__content--text {
    margin-bottom: 1.8rem;
  }

  ul {
    margin-bottom: 1.8rem;
  }

  li {
    padding-left: 1.1rem;
    margin-bottom: 0.7rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    position: relative;
    width: 70%;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      width: 10px;
      height: 10px;
      background-color: #2b2b2b;
      top: 5px;
      left: 0;
      border-radius: 10px;
    }
  }
}

.tab__content--text {
  max-width: 960px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  color: #2b2b2b;
  margin-bottom: 4rem;
}

// PROJECTS CAROUSEL
.projects-carousel {
  padding-bottom: 2rem;

  .projects-carousel__title {
    font-family: StemBold;
    text-align: right;
    margin-bottom: 2.4rem;
    font-size: 1.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .projects-carousel__indicators-holder {
    .container-wide {
      display: flex;
      justify-content: flex-end;
    }
  }

  .indicator-holder__arrows {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 50px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    position: static;
    width: 30px;
    height: 30px;
    opacity: 1;
    margin: 0 5px;
  }

  .carousel-indicators {
    position: static;
    margin: 0;

    li {
      width: auto;
      height: auto;
      text-indent: 0;
      margin: 0;
      border: none;
      max-width: 265px;
      width: 100%;
      height: 150px;
      overflow: hidden;
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        box-sizing: border-box;
      }
    }
  }

  .carousel-inner {
    padding: 50px 0;
  }

  .carousel-item__project-content {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
  }

  .carousel-item__project-content--title-holder {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    max-width: 500px;
    width: 100%;
  }

  .carousel-item__project-content--title {
    font-family: StemBold;
    font-size: 2.6rem;
    letter-spacing: 1.5px;
    color: #383838;
  }

  .carousel-item__project-content--subttitle {
    font-family: StemExtraLight;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .carousel-item__project-content--title-image {
    position: relative;
    width: 100%;

    img {
      position: absolute;
      right: 0;
      width: 100%;
    }
  }

  .carousel-item__project-content--text {
    max-width: 870px;
    width: 100%;
    margin-left: 3.5rem;
  }

  .carousel-item__project-content--title--small {
    font-family: StemMedium;
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    color: #383838;
    margin-bottom: 2.5rem;
  }

  .carousel-item__project-content--text p {
    font-family: StemLight;
    font-size: 1.25rem;
    letter-spacing: 0.7px;
    line-height: 1.5rem;
    color: #2b2b2b;
  }

  .carousel-item__project-stats--logos {
    padding: 3rem 0;
    min-height: 320px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;

    .container-wide {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .item__project-stats__left-empty {
    max-width: 560px;
    width: 100%;
  }

  .item__project-stats--logos-holder {
    max-width: 870px;
    width: 100%;
  }

  ul.projects-logo-list {
    display: flex;
    align-items: center;
    margin-left: 5rem;

    li {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 170px;
      width: 100%;
    }

    img {
      width: 116px;
      height: 116px;
      margin-bottom: 25px;
    }

    p {
      font-family: StemBold;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

.carousel-item__project-stats--numbers {
  .container-wide {
    display: flex;
    justify-content: flex-end;
  }
}

.item__project-stats--numbers-holder {
  max-width: 870px;
  width: 100%;
}

.item__project-stats--numbers-holder-top {
  padding: 1rem 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 1000%;
    bottom: 0;
    height: 1px;
    left: 0;
    background-color: #eaeaea;
  }

  ul {
    display: flex;
    margin-left: 5rem;
  }

  li {
    font-family: StemMedium;
    font-size: 10px;
    color: #5d5d5d;
    letter-spacing: 0.5;
    max-width: 170px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
  }
}

.item__project-stats--numbers-holder-bottom {
  padding: 1rem 0;

  ul {
    display: flex;
    margin-left: 5rem;
  }

  li {
    font-family: StemBold;
    font-size: 1.4rem;
    max-width: 170px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    color: #383838;
  }
}

// TEAM
.team {
  padding: 3rem 0;

  .team-carousel__indicators-holder {
    position: relative;
  }

  ol.carousel-indicators {
    margin: 0;
    position: static;
    margin-bottom: 2.5rem;

    li {
      font-family: StemLight;
      box-sizing: border-box;
      flex: none;
      width: auto;
      height: auto;
      text-indent: 0;
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0 1rem;
      text-transform: uppercase;
      color: #2b2b2b;
      opacity: 1;
      letter-spacing: 0.6px;

      &.active {
        font-family: StemBold;
        color: #000;
      }
    }
  }

  .indicator-holder__arrows {
    position: absolute;
    width: 80px;
    right: -30px;
    top: 340px;
    display: flex;

    a {
      opacity: 1;
      position: static;
      display: flex;
      width: 35px;
      height: 35px;

      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

.team__holder {
  padding: 3rem 5rem 4rem;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.team__title-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.7rem;
  position: relative;
  margin-bottom: 2rem;

  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #2588ad;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.team__title {
  font-family: StemBold;
  font-size: 1.7rem;
  letter-spacing: 1px;
  color: #383838;
  margin-bottom: 0.2rem;
}

.team__sub-title {
  font-family: StemLight;
  font-size: 1rem;
  letter-spacing: 0.6px;
  color: #2b2b2b;
}

ul.team__tabs-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

li.team__tab {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  .team__tab-arrow-down {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    background-image: url("../assets/tab-arrow-down.svg");
    display: none;
  }

  &.active .team__tab-arrow-down {
    display: block;
  }
}

.teab__tab-image-holder {
  max-width: 200px;
  width: 100%;
  height: 200px;
  margin-bottom: 1.5rem;

  img {
    width: 100%;
  }
}

.team__tab-name {
  padding-bottom: 1.6rem;
  position: relative;
  margin-bottom: 1.5rem;

  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #2588ad;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.team__tab-name--name {
  font-family: StemMedium;
  font-size: 1.2rem;
  color: #383838;
  text-transform: capitalize;
  text-align: center;
}

.team__tab-name--linkedin {
  position: absolute;
  right: -30px;
  top: 0;
  font-size: 1.4rem;
  color: #383838;
}

.team__tab-name--title {
  font-size: 0.9rem;
  text-align: center;
  color: #2b2b2b;
  margin-top: 3px;
}

.team__tab-content--name {
  font-family: StemMedium;
  font-size: 1.1rem;
  letter-spacing: 0.7px;
  color: #383838;
  margin-bottom: 1.3rem;
}

.team__tab-content--text {
  font-family: StemLight;
  font-size: 1.15rem;
  letter-spacing: 0.7px;
  color: #2b2b2b;
  line-height: 1.5rem;
}

.container-wide.border-line {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
}

// CONTACT
.contact {
  background: url("../assets/contact-bg.svg") no-repeat bottom right;
  padding: 2rem 0;
  margin-bottom: 3rem;

  .container-wide {
    display: flex;
    justify-content: space-between;
  }
}

.contact-form-holder {
  width: 70%;
  padding-right: 2.5rem;
}

.contact-info {
  width: 27%;
}

.contact-form {
  padding: 4rem 4.5rem;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.contact-form__title {
  font-family: StemBold;
  font-size: 2.2rem;
  letter-spacing: 1.7px;
  color: #383838;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.contact-form form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.contact-form__input-holder {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 2%;

  &:nth-child(even) {
    margin-right: 0;
  }
}

.contact-form__input-holder--message {
  width: 100%;
  margin-bottom: 3.5rem;
}

.contact-form__input-holder--message-textarea {
  height: 165px;
}

.contact-form__input,
.contact-form__input-holder--message-textarea {
  border: 1px solid rgba(#707070, 0.25);
  background-color: rgba(#eaeaea, 0.25);
  padding: 1.5rem;
  font-size: 1rem;
  color: #383838;
  width: 100%;

  &::placeholder {
    font-family: StemRegular;
    font-size: 0.8rem;
    color: #383838;
    opacity: 0.8;
  }

  &:focus {
    border-color: rgba(#707070, 0.7);
  }
}

.contact-form__submit-holder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

button {
  outline: none !important;
}

.contact-info__icon {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 2.5rem;

  img {
    width: 100%;
  }
}

.contact-info__number {
  display: flex;
  flex-direction: column;
}

.contact-info__number--country {
  font-family: StemBold;
  font-size: 1.3rem;
  letter-spacing: 0.8px;
  color: #383838;
  margin-bottom: 10px;
}

.contact-info__number--number {
  font-family: StemBold;
  color: #383838;
  font-size: 2.4rem;
}

.contact-info__underscore {
  width: 20px;
  height: 2px;
  background-color: #2b2b2b;
  margin: 1.7rem 0 1.8rem;
}

.contact-info__email {
  font-family: StemLight;
  font-size: 2rem;
  letter-spacing: 1.2px;
  color: #575757;
  margin-bottom: 1.5rem;
  display: block;
}

.contact-info__address p {
  font-family: StemLight;
  font-size: 1rem;
  line-height: 1.5rem;
}

// MEDIA QUERY
@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }

  header {
    padding-top: 1rem;
  }

  .header__logo-holder {
    padding-right: 2rem;
    margin-right: 2rem;
  }

  .header__logo {
    width: 180px;
  }

  .questions {
    padding: 3rem 0;
  }

  .questions__title {
    font-size: 2.8rem;
  }

  .about__building-img {
    max-width: 800px;
  }

  .about__text--bg-dark {
    max-width: 800px;
    top: 50px;
  }

  .about__investment--circle-img {
    max-width: 200px;
    margin-right: 40px;
    margin-bottom: 100px;
  }

  .about__investment--content {
    top: -50px;
    max-width: 1000px;
    min-height: 400px;
    padding: 3rem 3rem 5rem 5rem;
    background-image: linear-gradient(45deg, transparent 70px, #ffffff 70px);
  }

  li.tabs__tab {
    height: 230px;
    padding: 2rem;
  }

  .tab-title {
    font-size: 1.1rem;
  }

  li.tabs__tab span.tab-arrow {
    bottom: 20px;
  }

  .tab__content {
    max-width: 1000px;
    padding: 3rem 6rem 5rem 6rem;
    height: 500px;
    background-image: linear-gradient(45deg, transparent 70px, #ffffff 70px);
  }

  .tab__content--title {
    font-size: 1.8rem;
  }

  .tab__content--text {
    margin-bottom: 3rem;
    font-size: 1.3rem;
  }

  .tabs-box__content--image {
    max-height: 600px;
  }

  .projects-carousel .carousel-indicators li {
    max-width: 200px;
    height: 120px;
  }

  .projects-carousel .carousel-item__project-content--title {
    font-size: 2rem;
  }

  .projects-carousel .carousel-item__project-content--title-image {
    width: 70%;
  }

  .projects-carousel .carousel-item__project-content--text p {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }

  .projects-carousel .carousel-item__project-stats--logos {
    min-height: 300px;
    padding: 3rem 0;
  }

  .projects-carousel ul.projects-logo-list img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }

  .teab__tab-image-holder {
    max-width: 180px;
    height: 180px;
  }

  .contact-form {
    padding: 3rem;
  }

  .contact-form__title {
    font-size: 2.3rem;
  }

  .contact-info__icon {
    width: 3rem;
    height: 3rem;
  }

  .contact-info__number--number {
    font-size: 2rem;
  }

  .contact {
    background-size: 30%;
  }

  .footer__logo {
    width: 180px;
  }
}

// media 1400
@media (max-width: 1400px) {
  .questions {
    padding-bottom: 0;
  }

  .about__building-img {
    max-width: 700px;
  }

  .about__text--bg-dark {
    max-width: 700px;
    padding: 2.5rem;
    padding-bottom: 3rem;
    background-size: 40%;
  }

  .about__text-title {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  .about__text--bg-dark p {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .about__investment--content {
    max-width: 900px;
  }

  .about__investment--content p {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.4rem;
  }

  .about {
    padding-bottom: 2rem;
  }

  li.tabs__tab {
    padding: 1rem;
    max-width: 200px;
    height: 200px;
  }

  .tab-title {
    font-size: 1rem;
  }

  .tabs-box__content--image {
    max-height: 550px;
  }

  .tab__content {
    max-width: 900px;
    height: 400px;
    background-image: linear-gradient(45deg, transparent 50px, #ffffff 50px);
    padding: 2.5rem 3rem 4rem 5rem;
  }

  .tab-logo-holder {
    height: 50px;
  }

  .tab__content--title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .tab__content--text {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  .projects-carousel .carousel-item__project-stats--logos {
    min-height: 240px;
  }

  .projects-carousel ul.projects-logo-list p {
    font-size: 1rem;
  }

  .item__project-stats--numbers-holder-bottom li {
    font-size: 1.2rem;
  }

  .tabs-box__content--image {
    max-height: 500px;
  }

  .team__holder {
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 4.5rem 3.5rem;
  }
}

// media 1100px
@media (max-width: 1100px) {
  .button {
    width: 150px;
    height: 40px;
  }

  .header__logo {
    width: 130px;
  }

  nav li {
    margin-right: 1rem;
  }

  .header__phone-number {
    font-size: 1rem;
  }

  .header__contact {
    margin: 0 20px;
  }

  .header__socials {
    padding-left: 20px;
  }

  .header__socials-link {
    font-size: 1.5rem;
  }

  .questions__title {
    font-size: 2.4rem;
  }

  .tab__content {
    max-width: 750px;
    padding-left: 4rem;
  }

  .team .container {
    max-width: 800px;
  }

  .team__holder {
    padding: 2.5rem;
  }

  .team .indicator-holder__arrows {
    right: -10px;
    top: 300px;
  }

  .teab__tab-image-holder {
    width: 150px;
    height: 150px;
  }

  .team__tab-content--text {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .container-wide.border-line {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }

  .contact-form-holder {
    padding-right: 1rem;
  }

  .contact-form__input,
  .contact-form__input-holder--message-textarea {
    padding: 10px;
  }

  input {
    height: 45px;
  }

  .contact-form__input-holder--message-textarea {
    height: 120px;
  }

  .footer__logo-holder {
    margin-right: 25px;
  }
}

// media 992px
@media (max-width: 992px) {
  .navbar-toggler {
    position: absolute;
    right: 0;
    top: 5px;
    right: 10px;
  }

  .header__logo-holder {
    padding-right: 0;
    margin-right: 0;
    border: none;
  }

  nav {
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }

  nav li {
    margin: 5px 0;
  }

  nav a {
    font-size: 1.2rem;
    padding: 3px 0;
  }

  .header__contact {
    font-size: 1.2rem;
  }

  .header__right {
    flex-direction: column;
    align-items: center;
  }

  .header__socials {
    margin-left: 0;
    padding-left: 0;
    border: none;
  }

  .team__holder {
    width: 100%;
  }

  footer nav ul {
    flex-direction: row;
  }

  .footer__top {
    flex-wrap: wrap;
  }
}

// media tablet 768px
@media (max-width: 800px) {
  .questions .carousel-indicators.indicators--left {
    width: 150px;
  }

  .about {
    padding-bottom: 0;
  }

  .about__text--bg-dark {
    top: 200px;
    opacity: 0.95;
  }

  .about__investment {
    flex-direction: column-reverse;
  }

  .about__investment--content {
    top: 100px;
  }

  .about__investment--circle-img {
    margin: 100px auto 0 auto;
  }

  .tabs-box__tabs-holder .container-wide {
    flex-wrap: wrap;
  }

  .projects-carousel {
    padding-bottom: 0;
  }

  .projects-carousel .projects-carousel__indicators-holder .container-wide {
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }

  .projects-carousel .indicator-holder__arrows {
    padding-right: 0;
    margin-top: 20px;
  }

  .projects-carousel .carousel-item__project-content--text {
    margin-left: 0;
  }

  .projects-carousel .carousel-item__project-content--title-holder {
    max-width: 100%;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-top: 30px;
    justify-content: flex-end;
  }

  .projects-carousel .carousel-item__project-content--title-image {
    width: 220px;
    margin-right: 20px;
  }

  .projects-carousel .carousel-item__project-content--title-image img {
    position: relative;
  }

  .projects-carousel ul.projects-logo-list {
    margin: 0;
    justify-content: center;
  }

  .item__project-stats--numbers-holder-top ul {
    margin: 0;
    justify-content: center;
  }

  .item__project-stats--numbers-holder-bottom ul {
    margin: 0;
    justify-content: center;
  }

  .projects-carousel .carousel-item__project-stats--logos {
    padding: 2rem 0;
    min-height: 220px;
  }

  .projects-carousel .carousel-inner {
    padding: 2rem 0;
  }

  .contact-form {
    padding: 2rem;
  }

  .contact-form__input-holder {
    width: 100%;
    margin-right: 0;
  }

  .footer__left {
    flex-wrap: wrap;
  }

  .footer__logo-holder {
    margin: 0;
    padding: 0;
    border: none;
  }

  footer nav {
    flex-wrap: wrap;
  }

  .contact-info__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 2rem;
  }

  .contact-info__number--number {
    font-size: 1.6rem;
  }

  .contact-info__email {
    font-size: 1.6rem;
  }

  .contact-form__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .about__text--bg-dark {
    padding: 1.7rem;
    max-width: 100%;
  }
}

// media 700px
@media (max-width: 700px) {
  .about__building-img {
    display: none;
  }

  .about__text--bg-dark {
    position: relative;
    top: 0;
  }

  .about__investment--content {
    top: 0;
  }

  .about__investment--circle-img {
    margin-top: 0;
  }
}

// media 576px
@media (max-width: 576px) {
  .questions .carousel {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .questions .carousel-indicators.indicators--left {
    width: 100%;
    padding-top: 0;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }

  .questions .carousel-indicators.indicators--left li {
    margin: 0 10px;
  }

  .questions .carousel-indicators.indicators--left li .indicator__number {
    display: none;
  }

  .about__investment--content {
    padding: 2rem 2rem 2.5rem 2.5rem;
    background-image: linear-gradient(45deg, transparent 30px, #ffffff 30px);
  }

  .tabs-box__content--image {
    display: none;
  }

  .tab__content {
    position: relative;
    padding: 1.5rem;
  }

  .team ol.carousel-indicators li {
    font-size: 0.85rem;
  }

  .teab__tab-image-holder {
    width: 120px;
    height: 120px;
  }

  .teab__tab-image-holder {
    margin-bottom: 1rem;
  }

  ul.tabs-box__tabs {
    flex-wrap: wrap;
  }

  li.tabs__tab {
    width: 50%;
    height: 180px;
  }

  .team__tab-name {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  li.team__tab .team__tab-arrow-down {
    bottom: -10px;
  }

  .team__tab-content {
    padding-top: 10px;
  }

  .team .indicator-holder__arrows {
    top: -60px;
  }

  .container-wide.border-line {
    margin: 1.8rem 0;
  }

  .contact .container-wide {
    flex-direction: column-reverse;
  }

  .contact-form-holder {
    width: 100%;
    margin-top: 30px;
  }

  .contact-info {
    width: 100%;
  }

  .contact-info__icon {
    margin-bottom: 15px;
  }

  .contact-info__number {
    flex-direction: row;
  }

  .contact-info__number--country {
    margin-right: 5px;
  }

  .contact-info__underscore {
    display: none;
  }

  .contact-form__title {
    font-size: 1.5rem;
  }
}

// media 414px
@media (max-width: 414px) {
  .about__text--bg-dark p {
    text-align: justify;
    line-height: 1.3rem;
  }

  .about__investment--content p {
    text-align: justify;
    line-height: 1.3rem;
  }

  .projects__experience {
    padding: 0 1rem 1.5rem 1rem;
    margin: 0 auto;
  }

  .projects-carousel .carousel-indicators li {
    margin-right: 8px;
    height: 100px;
  }

  .projects-carousel .projects-carousel__title {
    font-size: 1.6rem;
  }

  .projects-carousel .carousel-item__project-content--title {
    font-size: 1.6rem;
  }

  .projects-carousel .carousel-item__project-content--subttitle {
    font-size: 1.3rem;
  }

  .projects-carousel ul.projects-logo-list {
    flex-wrap: wrap;
  }

  .projects-carousel ul.projects-logo-list li {
    width: 50%;
    margin-bottom: 20px;

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  .item__project-stats--numbers-holder-top ul {
    flex-wrap: wrap;
  }

  .item__project-stats--numbers-holder-top li {
    width: 50%;
    margin-bottom: 15px;

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  .item__project-stats--numbers-holder-bottom ul {
    flex-wrap: wrap;
  }

  .item__project-stats--numbers-holder-bottom li {
    width: 50%;
    margin-bottom: 15px;

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  .projects-carousel .carousel-inner {
    padding-bottom: 0;
  }

  .team ol.carousel-indicators {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .team ol.carousel-indicators li {
    width: 100%;
    text-align: center;
    margin-bottom: 13px;
    font-size: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  li.team__tab {
    width: 50%;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
      border: 1px solid;
    }
  }

  li.team__tab.active .team__tab-arrow-down {
    display: none;
  }

  .team__holder {
    padding: 1rem;
  }

  .contact-form__submit-holder {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-form__logo-holder {
    margin-top: 25px;
  }

  .contact-form__input-holder--message {
    margin-bottom: 2.5rem;
  }

  .contact-form {
    padding: 1.5rem;
  }

  footer nav {
    justify-content: center;
  }

  .footer__contact {
    margin-left: 0;
  }

  .footer__bottom {
    flex-direction: column;
  }

  .footer__bottom .copyright {
    margin-bottom: 10px;
  }

  .footer__logo-holder {
    margin: 0 auto;
  }
}
