@import "./normalize";
@import "./fonts";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Stem-Light";
  max-width: 1990px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.button {
  font-family: "Stem-Medium";
  width: 200px;
  padding: 0 20px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #383838;
  text-transform: uppercase;
  color: #383838;
}

.container-wide {
  max-width: 1800px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.container {
  max-width: 1180px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  padding: 30px 0 10px;

  .container-wide {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo-holder {
  border-right: 1px solid rgba(#425559, 0.3);
  padding-right: 50px;
  margin-right: 50px;
}

.header__logo {
  width: 270px;
  height: 40px;
}

nav {
  ul {
    display: flex;
  }

  li {
    margin-right: 20px;
  }

  a {
    line-height: 24px;
    color: #2b2b2b;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding: 0 5px;

    &.active {
      color: #000000;
      font-family: "Stem-Bold";
    }
  }
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__phone-number {
  font-family: "Stem-Medium";
  font-size: 20px;
  color: #383838;
  font-weight: bold;
}

.header__contact {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #2b2b2b;
  margin: 0 30px;
}

.header__socials {
  border-left: 1px solid rgba(#425559, 0.3);
  padding-left: 30px;
  height: 40px;
  display: flex;
  align-items: center;
}

.header__socials-link {
  color: #000000;
  font-size: 30px;

  &.linked-in {
    margin-right: 20px;
  }
}

footer {
  padding: 10px 0 30px;

  nav {
    li {
      margin-right: 15px;
    }

    a {
      font-size: 0.85rem;
    }
  }
}

.footer__container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  align-items: center;
}

.footer__logo-holder {
  border-right: 1px solid rgba(#425559, 0.3);
  padding-right: 25px;
  margin-right: 35px;
}

.footer__logo {
  width: 260px;
  height: 35px;
}

.footer__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__contact {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #2b2b2b;
  margin: 0 30px;
}

.footer__socials {
  border-left: 1px solid rgba(#425559, 0.3);
  padding-left: 20px;
  height: 35px;
  display: flex;
  align-items: center;
}

.footer__socials-link {
  color: #000000;
  font-size: 26px;

  &.linked-in {
    margin-right: 15px;
  }
}

.footer__bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .copyright {
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #a0a0a0;
  }

  .design {
    font-size: 11px;
    color: #a0a0a0;
  }
}

// QUESTIONS
.questions {
  padding: 100px 0;

  .carousel {
    display: flex;
    height: 250px;
  }

  .carousel-inner {
    max-width: 1100px;
  }

  .carousel-indicators {
    position: static;
    margin: 0;

    &.indicators--left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 200px;
      padding-top: 30px;

      li {
        background-color: transparent;
        text-indent: 0;
        margin: 0;
        width: auto;
        height: auto;
        background-clip: unset;
        border: none;
        cursor: unset;
        display: flex;
        align-items: center;
        opacity: 1;
        margin-bottom: 20px;

        .indicator__number {
          font-size: 0.8rem;
          color: #425559;
          letter-spacing: 0.5px;
          width: 30px;
        }

        .indicator__text {
          font-family: "Stem-Bold";
          text-transform: uppercase;
          font-size: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 77px;
          height: 34px;
          background-color: #eaeaea;
          color: #2b2b2b;
          cursor: pointer;
          transition: all 0.5s ease;
          user-select: none;
        }

        &.active {
          .indicator__text {
            background-color: #383838;
            color: #ffffff;
          }
        }
      }
    }

    &.indicators--bottom {
      background-color: lightgrey;
      position: absolute;
      bottom: 0;
    }
  }
}

.questions__container {
  max-width: 1500px;
}

.questions__title {
  font-family: "Stem-Bold";
  font-size: 56px;
  text-align: center;
  letter-spacing: 3.3px;
  color: #383838;
  margin-bottom: 15px;
}

.questions__text {
  font-size: 19px;
  padding: 0 5px;
  text-align: center;
  letter-spacing: 0.7px;
  line-height: 25px;
}

// ABOUT
.about {
  position: relative;
  padding-bottom: 50px;
}

.about__building-img {
  max-width: 1122px;
  width: 100%;
  max-height: 700px;
  object-fit: contain;
}

.about__text--bg-dark {
  background-color: #555555;
  color: #ffffff;
  max-width: 915px;
  //   min-height: 535px;
  width: 100%;
  padding: 60px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 80px;

  p {
    font-family: "Stem-Light";
    font-size: 1.15rem;
    line-height: 1.6rem;
    letter-spacing: 0.7px;
    max-width: 700px;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about__text-title {
  font-family: "Stem-Medium";
  font-size: 1.5rem;
  letter-spacing: 0.16rem;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}

.about__text--bg-dark-squares {
  position: absolute;
  right: -100px;
  bottom: 210px;
  width: 80%;
}

.about__investment {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.about__investment--content {
  max-width: 1400px;
  width: 100%;
  min-height: 700px;
  background-image: linear-gradient(45deg, transparent 110px, #ffffff 110px);
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.15));
  padding: 50px 120px 100px;
  position: relative;
  top: -125px;

  p {
    font-family: "Stem-Light";
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 0.7px;
    color: #425559;
    margin-bottom: 25px;

    strong {
      font-family: "Stem-Medium";
    }
  }
}

.investment-content__text-ellipse {
  display: flex;
  align-items: flex-start;

  img {
    margin-right: 15px;
    margin-top: 4px;
  }
}

.about__investment--circle-img {
  max-width: 270px;
  width: 100%;
  height: 270px;
  object-fit: contain;
  margin-bottom: 200px;
  margin-right: 70px;
}

// PROJECTS
.tabs-box__tabs-holder {
  // border-bottom: 8px solid #f2f2f2;

  .container-wide {
    display: flex;
    justify-content: flex-end;
  }
}

.projects__experience {
  padding: 20px 80px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__experience-box--left {
  margin-right: 40px;
}

.projects__experience-number {
  font-family: "Stem-Bold";
  font-size: 3rem;
  letter-spacing: 3px;
  color: #383838;
}

.projects__experience-text {
  font-family: "Stem-Light";
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #949494;
}

ul.tabs-box__tabs {
  display: flex;
  // flex: 1;
}

li.tabs__tab {
  max-width: 320px;
  width: 100%;
  height: 340px;
  border-left: 1px solid #f2f2f2;
  border-top: 8px solid #f2f2f2;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;

  &:last-child {
    border-right: 1px solid #f2f2f2;
  }

  &:hover {
    border-top-color: rgba(#2b2b2b, 0.2);
  }

  span.tab-arrow {
    background-image: url("../assets/tab-arrow-right.svg");
    width: 12px;
    height: 12px;
    transition: all 0.1s ease;
    position: absolute;
    bottom: 50px;
  }

  &.active {
    border-top-color: #2b2b2b;

    span.tab-arrow {
      background-image: url("../assets/tab-arrow-down.svg");
    }
  }
}

.tab-logo-holder {
  height: 85px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.tab-title {
  font-family: "Stem-Medium";
  font-size: 1.2rem;
  color: #2b2b2b;
}

.tabs-box__content {
  // min-height: 1000px;
  position: relative;
}

.tabs-box__content--image {
  // max-width: 900px;
  max-height: 850px;
  object-fit: contain;
  position: relative;
}

.tab__content {
  max-width: 1500px;
  width: 100%;
  min-height: 700px;
  background-image: linear-gradient(45deg, transparent 110px, #ffffff 110px);
  padding: 70px 150px 100px;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 8px solid #f2f2f2;
}

.tab__content--logo {
  margin-bottom: 50px;
}

.tab__content--title {
  font-family: "Stem-Bold";
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 1.9px;
  color: #383838;
  margin-bottom: 30px;
  text-transform: uppercase;
  max-width: 650px;
}

.tab__content--text {
  max-width: 960px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  color: #2b2b2b;
  margin-bottom: 100px;
}

// PROJECTS CAROUSEL
.projects-carousel {
  .projects-carousel__title {
    font-family: "Stem-Bold";
    text-align: right;
    margin-bottom: 2.4rem;
    font-size: 1.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .projects-carousel__indicators-holder {
    .container-wide {
      display: flex;
      justify-content: flex-end;
    }
  }

  .indicator-holder__arrows {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 50px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    position: static;
    width: 30px;
    height: 30px;
    opacity: 1;
    margin: 0 5px;
  }

  .carousel-indicators {
    position: static;
    margin: 0;

    li {
      width: auto;
      height: auto;
      text-indent: 0;
      margin: 0;
      border: none;
      max-width: 265px;
      width: 100%;
      height: 150px;
      overflow: hidden;
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        border: 3px solid #000;
        box-sizing: border-box;
      }
    }
  }

  .carousel-inner {
    padding: 50px 0;
  }

  .carousel-item__project-content {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
  }

  .carousel-item__project-content--title-holder {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }

  .carousel-item__project-content--title {
    font-family: "Stem-Bold";
    font-size: 3rem;
    letter-spacing: 1.5px;
    line-height: 1.75rem;
    color: #383838;
  }

  .carousel-item__project-content--subttitle {
    font-family: "Stem-ExtraLight";
    font-size: 1.5rem;
    line-height: 4.5rem;
    margin-bottom: 1.5rem;
  }

  .carousel-item__project-content--text {
    max-width: 870px;
    width: 100%;
    margin-left: 3.5rem;
  }

  .carousel-item__project-content--title {
    font-family: "Stem-Medium";
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    color: #383838;
    margin-bottom: 2.5rem;
  }

  .carousel-item__project-content--text p {
    font-family: "Stem-Light";
    font-size: 1.25rem;
    letter-spacing: 0.7px;
    line-height: 1.5rem;
    color: #2b2b2b;
  }

  .carousel-item__project-stats--logos {
    padding: 4rem 0;
    min-height: 350px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;

    .container-wide {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  ul.projects-logo-list {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      padding: 0 10px;
    }
  }
}

.carousel-item__project-stats--numbers {
}
